{%  extends "base.html"   %}
{% load static %}

{% block title %}
All Posts
{% endblock %}

{% block content %}
<!-- All Posts --> 
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
       <div class="flex flex-col text-center w-full mb-20">
          <h1 class="text-5xl font-medium title-font mb-4 text-gray-900">All My Thought Are Here 😊</h1>
       </div>
       
       <div class="flex flex-wrap -m-4">
         {% for post in posts %}
          <div class="p-4 lg:w-1/4 md:w-1/2"><a href={% url "detail-page" post.slug %}>
             <div class="h-full flex flex-col items-center text-center">
                <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src={% static "app1/images/"|add:post.image %}>
                <div class="w-full">
                   <h2 class="title-font font-medium text-lg text-gray-900">{{ post.title }}</h2>
                   <p class="mb-4">{{ post.excerpt  }}</p>
                </div>
             </div>
            </a>
          </div>
         {% endfor %}
        
       </div>
    </div>
 </section>
 <!-- All Posts Ends -->
{% endblock %}